#reach {
  position: relative;
  justify-items: center;
  left: 55%;
  transform: translate(-30%);
  padding-top: 5vh;
  padding-right: 10rem;
}

/* .products {
  position: relative;
  left: 13vh;
  padding-bottom: 1rem;
  left: 6rem;
} */


.dm {
  flex: auto;
  justify-content: stretch;
  padding-left: 3rem;
  display: grid;
  grid-template-columns: 50%;
  gap: 50%;
}

.h5 {
  font-size: smaller
}

.mails {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mail {
  background: white;
  padding: 1.2rem;
  border-radius: 0.8rem;
  text-align: center;
  border: 0.8px solid black;
  transition: var(--transition);
}

.mail:hover {
  background: transparent;
  border-color: black;
}

.mail-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.mail h5 {
  color: black;
  font-size: medium;
}

.mail a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
  align-items: center;
}

input,
textarea {
  width: 100%;
  padding: 0.2rem;
  border-radius: 0.8rem;
  background: white;
  border: 0.5px solid black;
  resize: none;
  color: black;
}

element.style {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.contact__option-icon {
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .dm {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .dm {
    width: var(--container-width-sm);
  }
}